body{
  margin: 0;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.89);
  flex-direction: column;
}

#calculator{
  background-color: hsl(0, 0%, 0%);
  border-radius: 25px;
  max-width: 500px;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
}

#display{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  background-color: hsl(0, 0%, 0%);
  color: white;
  border: none;
  box-sizing: border-box;
}

#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

/* Button */
button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 16%);
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
  cursor: pointer;
}
button:hover {
  background-color: hsl(0, 0%, 25%);
}
button:active {
  background-color: hsl(0, 0%, 35%);
}
.operator-btn{
  background-color: hsl(32, 100%, 55%);
}
.operator-btn:hover{
  background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
  background-color: hsl(35, 100%, 75%);
}

.top-btn{
  background-color: hsl(0, 0%, 35%);
}
.top-btn:hover{
  background-color: hsl(0, 0%, 45%);
}
.top-btn:active{
  background-color: hsl(0, 0%, 55%);
}
.blank{
  background-color: transparent;
}
.blank:hover{
  background-color: transparent;
  cursor: unset;
}


/* Footer */
.footer {
  width: 100%;
  height: 100px;
  text-align: center;
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  animation: fadeIn 1s ease-in;
  position: relative;
  bottom: -5rem;



}
.footer p {
  margin: 0;
  color: rgba(220, 220, 220, 0.25);
}

.h1 {
  background-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  color: #7c7c7c;
  text-align: center;
  display: flex;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  position: relative;
  margin-bottom: -25px;
}
.h2 {
  background-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  color: #7c7c7c;
  text-align: center;
  display: flex;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  position: relative;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-title {
  animation: fadeIn 0.5s ease-in;
}
.fade-calc {
  animation: fadeIn 0.8s ease-in;
}

